{% extends 'public/base/base.html' %}
{% load static %}
{% block start %}


<h3 class="text-center p-2 d-heading mt-2 ">
    <i class="fa-solid fa-user-pen me-1"></i> {{ user.user.first_name }}&nbsp;{{ user.user.last_name }}
</h3>
        <form action="#" class="row" method="post">
            {% csrf_token %}
            <div class="col-md-6 mb-2">
                <label for="email">eMail</label>
                <input type="email" name="email" id="email" class="form-control" readonly value="{{ user.user.email }}">
            </div>
            <div class="col-md-6 mb-2">
                <label for="phone">Phone</label>
                <input type="tel" name="phone" id="phone" class="form-control" maxlength="15" value="+88{{user.phone}}" readonly>
            </div>
            <div class="col-md-6 mb-2">
                <label for="institute">College/Institute</label>
                <input type="text" name="institute" id="institute" class="form-control" value="{{user.institute}}">
            </div>
            <div class="col-md-3 mb-2">
                <label for="divistio">Division</label>
                <input type="text" name="divistio" id="divistio" class="form-control" value="{{user.division}}" readonly>
            </div>

            <div class="col-md-3 mb-2">
                <label for="district">District</label>
                <input type="text" name="district" id="district" class="form-control" value="{{user.district}}" readonly>
            </div>
            <div class="col-md-6 mb-2">
                <label for="schema">Schema Name </label>
                <input data-validity="{{schemas}}" type="text" name="schema" id="schema" class="form-control" value="{{ user.tenant.schema_name }}">
                <small id="validSchema" class="text-success d-none ms-1">This name is valid!</small>
                <small id="inValidSchema" class="text-danger d-none ms-1">Not Changed</small>
            </div>

            <div class="col-md-3 mb-2">
                <label for="status">Status</label>
                <select name="status" id="status" class="form-control">
                    <option  value="">Select an Option</option>
                    <option {% if user.tenant.is_active %} selected {% endif %} value="true">
                        Active
                    </option>
                    <option {% if not user.tenant.is_active %} selected {% endif %} value="false">
                        Deactive
                    </option>
                </select>
            </div>

            <div class="col-md-3 mb-2">
                <label for="deadline">Deadline</label>
                <input type="date" name="deadline" class="form-control" id="deadline" {% if user.tenant.deadline %} value="{{user.tenant.deadline|date:'Y-m-d'}}" {% endif %}>
            </div>

            {% if user.description %}
            <div class="col-md-12 mb-2">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control" readonly>{{ user.description }}</textarea>
            </div>
            {% endif %}

            <div class="col-md-4 mb-2 domain">
                <label for="subdomain">Sub-Domain</label>
                <input data-validity="{{ domains }}" type="text" class="form-control" name="sub-domain" id="sub-domain" placeholder="Sub-Domain">
            </div>
            <div class="col-md-4 mb-2 domain">
                <label for="n/a" class="invisible">Sub-Domain</label>
                <input type="text" class="form-control" name="fix-domain" id="fix-domain" readonly value="saf">
            </div>
            <div class="col-md-4 mb-2">
                <label for="n/a1" class="invisible">Sub-Domain</label>
                <input type="text" class="form-control" name="domain" id="domain" readonly value="jstechbd">
            </div>
            <small id="validDomain" class="text-success d-none ms-1">This domain is valid!</small>
            <small id="inValidDomain" class="text-danger d-none ms-1">Not Changed</small>
            <div class="col-md-12 mt-2 d-flex justify-content-end gap-2">
                <a href="{% url 'user_details' user.uid %}" class="btn btn-sm btn-danger">Cancel</a>

                <button id="approveSubmitBtn" type="submit" class="btn btn-sm btn-primary">Save</button>
            </div>
        </form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const instituteInput = document.getElementById('institute');
        const schemaInput = document.getElementById('schema');
        const instVal = instituteInput.value.trim();
        const validSchema = document.getElementById('validSchema');
        const inValidSchema = document.getElementById('inValidSchema');
        const validDomain = document.getElementById('validDomain');
        const inValidDomain = document.getElementById('inValidDomain');
        const schemaValidateArray = schemaInput.getAttribute('data-validity');
        const domainInput = document.getElementById('sub-domain');
        const domianValidateArray = domainInput.getAttribute('data-validity');
        const approveSubmitBtn = document.getElementById('approveSubmitBtn');


        let validateSchema = () => {
            let schemaArr = schemaValidateArray.split("'")
            if(schemaArr.includes(schemaInput.value)) {
                // invalid
                inValidSchema.classList.remove('d-none');
                validSchema.classList.add('d-none')
                schemaInput.classList.add('border-danger', 'text-danger')
                schemaInput.classList.remove('border-success', 'text-success')
                schemaStatus = false;
            } else if (!schemaInput.value)  {
                // no input
                inValidSchema.classList.add('d-none');
                validSchema.classList.add('d-none')
                schemaStatus = false;
                schemaInput.classList.remove('border-success', 'border-danger', 'text-danger', 'text-success');
            } else {
                // valid
                inValidSchema.classList.add('d-none');
                validSchema.classList.remove('d-none')
                schemaInput.classList.remove('border-danger', 'text-danger')
                schemaInput.classList.add('border-success', 'text-success')
                schemaStatus = true;
            }
        };

        let validateDomain = () => {
            let domainArr = domianValidateArray.split("'");
            let domainValue = domainInput.value.trim(); // Trim whitespace

            if (!domainValue) {
                // No input
                domainStatus = false;
                validDomain.classList.add('d-none');
                inValidDomain.classList.add('d-none');
                domainInput.classList.remove('border-success', 'border-danger', 'text-danger', 'text-success');
            } else if (domainArr.includes(domainValue)) {
                // Invalid domain
                domainStatus = false;
                domainInput.classList.add('border-danger', 'text-danger');
                domainInput.classList.remove('border-success', 'text-success');
                validDomain.classList.add('d-none');
                inValidDomain.classList.remove('d-none');
            } else {
                // Valid domain
                domainStatus = true;
                domainInput.classList.remove('border-danger', 'text-danger');
                domainInput.classList.add('border-success', 'text-success');
                validDomain.classList.remove('d-none');
                inValidDomain.classList.add('d-none');
            }
        };

        let getAcronym = (input) => {
            return input
            .split(' ') // Split the string into words
            .map(word => word[0].toLowerCase()) // Take the first letter of each word and convert it to lowercase
            .join(''); 
        };

        if(instVal){
            // let convert = instVal.toLowerCase().replace(/ /g, '_');
            // schemaInput.value = convert 
            let acronym = getAcronym(instVal);
            domainInput.value = acronym
            validateSchema();
        }

        schemaInput.addEventListener('input', () => {
            validateSchema();
        });
        domainInput.addEventListener('input', () => {
            validateDomain();
        });


        
        instituteInput.addEventListener('input', () => {
            let value = instituteInput.value.trim();
            let convertedValue = value.toLowerCase().replace(/ /g, '_'); 
            schemaInput.value = convertedValue;
            let acronym = getAcronym(value);
            domainInput.value = acronym
            console.log(acronym);
            validateSchema();
            validateDomain();
        });
        validateSchema();
        validateDomain();
    });
</script>


{% endblock %}