{% extends 'public/base/base.html' %}
{% load static %}
{% block start %}

<style>
    .search {
        border-radius: 0 !important;
        border-top-left-radius: .3rem !important;
        border-bottom-left-radius: .3rem !important;
    }
    .search-btn {
        border-radius: 0 !important;
        border-top-right-radius: .3rem !important;
        border-bottom-right-radius: .3rem !important;
    }
</style>

                 <h3 class="text-center p-2 d-heading mt-2 mb-3">
                     <i class="fa-regular fa-user me-1"></i> Users
                 </h3>
                <div class="row">
                    <div class="col-md-6 m-0"></div>
                    <div class="col-md-6 mb-3">
                        <form action="" class="w-100 d-flex justify-content-between flex-no-wrap gap-0">
                            <input type="search" class="form-control search bg-transparent text-white" name="search" id="search">
                            <button type="submit" class="btn search-btn btn-info bgn-sm">Search</button>
                        </form>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-border table-bordered table-dark table-hover">
                                <thead>
                                    <tr>
                                    <th class="text-center text-info" scope="col">#</th>
                                    <th class="text-center text-info" scope="col">ID</th>
                                    <th class="text-center text-info" scope="col">Name</th>
                                    <th class="text-center text-info" scope="col">Institute</th>
                                    <th class="text-center text-info" scope="col">Domain</th>
                                    <th class="text-center text-info" scope="col">Status</th>
                                    <th class="text-center text-info" scope="col" class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <th class="text-center" scope="row">{{ forloop.counter }}</th>
                                        <td class="text-center"> {{ user.public_user.sid }} </td>
                                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                                        <td> {{ user.public_user.institute }} </td>
                                        <td>
                                            {% if user.public_user.tenant.domains.all %}
                                                <a href="http://{{ user.public_user.tenant.domains.first.domain }}:8000" target="_blank">
                                                    {{ user.public_user.tenant.domains.first.domain }}
                                                    <i class="fa-solid fa-arrow-up-right-from-square ms-1"></i>
                                                </a>
                                            {% else %}
                                                <span>N/A</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if user.public_user.tenant.is_active %}
                                            <span class="text-info">ACTIVE</span>
                                            {% else %}
                                            <span class="text-danger">DEACTIVE</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-end">
                                            {% if user.public_user %}
                                            <a href="{% url 'user_details' user.public_user.uid %}" title="Open" class="btn btn-outline-success btn-sm">
                                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                            </a>
                                            {% else %}
                                            <a href="{% url 'user_details' user.public_user.uid %}" title="Open" class="btn btn-outline-success btn-sm">
                                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                            </a>
                                            {% endif %}
                                            <a href="{% url 'tenant_status' user.public_user.uid %}" title="Activate" class="btn btn-outline-primary btn-sm">
                                                <i class="fa-solid fa-forward-step"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

{% endblock %}