{% extends "public/base/base.html" %}
{% load static %}
{% block start %}

<style>
    label {
        color: blue;
        font-weight: 700;
    }
</style>

<h3 class="text-center p-2 d-heading mt-2 mb-3">
    <i class="fa-solid fa-user me-1"></i> {{ user.user.first_name }} {{ user.user.last_name }}
</h3>

<div class="row">
    <div class="col-md-6 d-flex justify-content-start mb-2 gap-2">
        <a href="{% url 'user_update' user.uid %}" class="btn btn-sm btn-warning">
            <i class="fa-regular fa-pen-to-square"></i> Edit
        </a>
        <a href="{% url 'tenant_status' user.uid %}" class="btn btn-sm {% if user.tenant.is_active %} btn-danger {% else %} btn-primary {% endif %}"><i class="fa-solid fa-forward-step"></i> {% if user.tenant.is_active %} Deactive {% else %} Active {% endif %} </a>
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-center mb-2 gap-2">
        <strong>Status: </strong> <span class="{% if user.tenant.is_active %} text-primary {% else %} text-danger {% endif %} fw-bold"> {% if user.tenant.is_active %} ACTIVE {% else %} DEACTIVE {% endif %} </span>
    </div>
    
    <div class="col-md-6 mb-2">
        <label for="name">Email</label>
        <div class="form-control">
            {% if user.user.email %}
            {{ user.user.email }}
            {% else %}
            <span class="">N/A</span>
            {% endif %}
        </div>
    </div>

    <div class="col-md-6 mb-2">
        <label for="phone">WhatsApp/Phone</label>
        <div class="form-control">
            {% if user.phone %}
            {{ user.phone }}
            {% else %}
            <span class="">N/A</span>
            {% endif %}
        </div>
    </div>

    <div class="col-md-6 mb-2">
        <label for="institute">Collget/Institute</label>
        <div class="form-control">
            {% if user.institute %}
            {{ user.institute }}
            {% else %}
            <span class="">N/A</span>
            {% endif %}
        </div>
    </div>

    <div class="col-md-3 mb-2">
        <label for="divistion">Division</label>
        <div class="form-control">
            {% if user.division %}
            {{ user.division }}
            {% else %}
            <span class="">N/A</span>
            {% endif %}
        </div>
    </div>

    <div class="col-md-3 mb-2">
        <label for="district">District</label>
        <div class="form-control">
            {% if user.district %}
            {{ user.district }}
            {% else %}
            <span class="">N/A</span>
            {% endif %}
        </div>
    </div>

    <div class="col-md-6 mb-2">
        <label for="schema">Schema Name</label>
        <div class="form-control">
            {% if user.tenant %}
            {{ user.tenant.schema_name }}
            {% else %}
            <span class="">N/A</span>
            {% endif %}
        </div>
    </div>

    <div class="col-md-6 mb-2">
        <label for="domain">Domain</label>
        <div class="form-control">
            {% if user.tenant.domains %}
            <a target="_blank" href="http://{{ user.tenant.domains.first.domain }}:8000">
                {{ user.tenant.domains.first.domain }}
            </a>
            {% else %}
            <span class="">N/A</span>
            {% endif %}
        </div>
    </div>

    <div class="col-md-6 mb-2">
        <label for="joined">Joined on</label>
        <div class="form-control">
            {% if user.tenant.created_on %}
            {{ user.tenant.created_on }}
            {% else %}
            <span class="">N/A</span>
            {% endif %}
        </div>
    </div>

    <div class="col-md-6 mb-2">
        <label for="deadline">Deadline</label>
        <div class="form-control">
            {% if user.tenant.deadline %}
            {{ user.tenant.deadline }}
            {% else %}
            <span class="">N/A</span>
            {% endif %}
        </div>
    </div>

    <div class="col-md-12 mb-2">
        <label for="description">Description</label>
        <div class="form-control">
            {% if user.description %}
            {{ user.description }}
            {% else %}
            <span class="">N/A</span>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}